body {
    background: #61656b;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 1500px;
    padding: 2em 2em 4em;
    min-height: 900px; 
}

p {max-width: 1000px;}

h2, h3, h4, h5, h6 {
    color: #fff;
    font-weight: 600;
    line-height: 1.3;
}

h2 {
    margin-top: 1.3em;
}

a {
    color: #4CAF50;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    max-width: 95%;
    position: static;
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}

.topnav {
  overflow: hidden;
  background-color: #333;
  
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

html {
    background: black;
    -webkit-font-smoothing: antialiased;
}

.float { float: right; 
         margin-right: 50px; }

.pageTitle { font-size: 35px;
             background-color:#333;
             text-align: center;
}
